.Deck {
  $button-radius: 5px; // Absolute to match card SVG radius

  width: 100%;

  &__buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }

  &__button {
    padding: 0;
    margin: 0;
    border: 0;
    background: none;
    flex: 0 0 50%;
    max-width: 12rem;
    position: relative;
    z-index: 1;

    &:not(:disabled) {
      &:hover {
        z-index: 2;

        > * {
          background: transparent;
          box-shadow: 0 0 0 rgba(#000, .08);
          transform: translateY(3px);
        }
      }

      &:focus {
        z-index: 2;
        outline: none;

        > * {
          border-color: rgba(#000, .2);
        }
      }

      > * {
        cursor: pointer;
      }
    }

    &:first-child {
      > * {
        border-top-left-radius: $button-radius;
        border-bottom-left-radius: $button-radius;
      }
    }

    & + &:last-child {
      margin-left: -1px;
    }

    &:last-child {
      > * {
        border-top-right-radius: $button-radius;
        border-bottom-right-radius: $button-radius;
      }
    }

    > * {
      display: block;
      border: 1px solid rgba(#000, .08);
      background: #fff;
      box-shadow: 0 3px 0 rgba(#000, .2);
      padding: 1.5rem 3rem;
      font-weight: 600;
      font-size: 1rem;
      text-transform: uppercase;
      transform: none;
      transition: all .1s;
    }
  }

  &__score {
    font-size: 4rem;
    font-weight: 400;
    line-height: 1em;
    text-align: center;
    display: block;
    z-index: 10;
    position: relative;
    margin: 2rem 0;

    &--dealer {
      font-size: 2rem;
    }

    &--loss, &--win {
      animation: .2s both 1 deck-score-slam;
    }

    &--loss {
      color: #e01220;
    }

    &--win {
      color: #2ad175;
    }

    @keyframes deck-score-slam {
      from { transform: scale(10); opacity: 0; }
    }
  }
}
