.Table {
  width: 100%;
  min-height: 640px;
  background: #fafafa;
  padding: 2rem;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;

  @media (min-width: 640px) {
    margin: 1rem 0;
    max-width: 640px;
    box-shadow: 0 4px 0 rgba(#222, .2);
    border-radius: 2px;
  }

  &__row {
    height: 30vh;
  }
}
